#menulist {
	font-weight: bold;
	background-color: #2D2D2D;
	padding-left:35px;
	margin: 0;
}

#menulist a:visited, #menulist a:link {
	text-decoration: none;
	color:#BBB;
}

#menulist a:hover {
	color: #FFFFFF;
}

#menulist li {
	color: #BBB;
	line-height: 29px;
	text-transform: capitalize;
	padding:0px 9px;
	float: left;
}

#footer {
	padding-top: 10px;
	font-size: 12px;
	position: fixed;
	display: block;
	width: 100%;
	bottom:0px;
	min-height: 35px;
	border-top: 1px solid #CCC;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	text-transform: capitalize;
	z-index: 20;
	margin-left: -220px;
}



#copy-right{
	float: left;
	display: block;
	margin-left: 40%;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
#footer-central-links {
	margin: 10px 0 0 32%;
	min-width: 550px;
	width: 40%;
	float: left;
}

#footer-central-links div{
	display: none;
	float: left;
	max-width: 150px;
	margin: 0px 40px 0px;
}

#footer-central-links div >h1 {
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

#footer-central-links div ul {
	max-width: 150px;
	display: block;
}
#footer-central-links div ul li{
	text-align: left;
	list-style: inside square;
}

input[type=checkbox] {
	display: none;
}

label {
	color: blueViolet;
	font-style: italic;
	float: left;
	position: relative;
	display: block;
	cursor: pointer;
	margin-left: 25px;
}

#show-less{
	display: none;
}

#show-footer-links:checked  ~ #footer-central-links div {
	display: block;
}

#show-footer-links:checked  ~ #footer-central-links+div {
	display: block;
}

#show-footer-links:checked  ~ #show-less{
	display: block;
}
#show-footer-links:checked  ~ #show-more{
	display: none;
}

#footer-links {
	float: left;
	background: white;
	text-transform: capitalize;
	color: #4C55CD;
}

	
.dash {
	float:left;
	font-size: 10px;
	vertical-align: middle;
	text-align: center;
	width: 10px;
}



#footer-home-link {
	float: left;
	padding-left: 2.5%;
}

#footer a:visited, #footer a:link {
	text-decoration: none;
	color:#4C55CD;
}


#secondary-logo{
	display: none;
	background: url(../images/front-end-dev.png);
	height: 115px;
	width: 250px;
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	margin-right: 25px;
	margin-bottom: 9px;
}