body{
	overflow: auto;
}
.menulist li {
	line-height: 27px;
}
.more-list-arrow {
	background-position: 2px 8px;
}
.more-list{
	margin-top: 5px;
}
#header .menulist .more-list:hover  >ul{
	margin: 25px -47px 0;
}
#search-text{
	margin-bottom: 19px;
}
#navigation{
	min-height: 71px;
}

#search-logo, #search-button{
	float: left;
}
.title-bar{
	display: inline-block;
}
.widget-icon {
	width: 28px;
	height: 28px;
}
.window-minimize,.window-close {
	line-height: normal;
}

.themes {
	position: relative;
	margin-top: -4px;
	padding-bottom: 10px;
}
.themes >ul {
	border-radius: 0;
}