
#header {
	z-index: 10;
	background-color: #338199;
	padding: 0px;
	border-width:0px;	
	text-align: center;	
	min-width: 1000px;
}

#navigation {
	z-index: 10;
	min-width: 460px;;
	clear: both;
	position: relative;
	vertical-align: middle;
	background-color: rgba(124, 175, 182, 0.41);
}

#content {
	display: block;
	margin-top: 20px;
	width: 100%;
	overflow: auto;
}

#content >div.sidebar {
	float: left;
	border: 0px solid red;
	width: 15%;
	height: 100px;
	min-width: 120px;
}
#content >div.sidebar >button {
	background: #69C9FF;
	padding: 5px 7px 5px 5px;
	position: relative;
	z-index: 1;
	margin: 15px 30px 0px 10px;
	font-size: 9px;
	font-weight: bolder;
	min-width: 85px;
}
#content >div.sidebar >button>span.add-gadgets-icon{
	background: url(../images/buttons/add-gadgets.png);
	width: 30px;
	height: 30px;
	z-index: 2;
	position: absolute;
	margin-top: -20px;
	right: -24px;
}
#columns {
	margin-bottom: 70px;
	padding: 0px;
	float: left;
	width: 80%;
	padding-left: 1%;
}

.column {
	float: left;
	min-height: 10px;
	overflow: auto;
	min-width: 300px;
	width: 33%;
	border: 0px solid black;
}