#container {
	height: 100%;
	width: 100%;
}

#header {
	z-index: 10;
	background-color: #2D2D2D;
	padding: 0px;
	border-width:0px;	
	text-align: center;	
	min-width: 1000px;
}

#navigation {
	z-index: 10;
	min-width: 600px;;
	clear: both;
	position: relative;
	vertical-align: middle;
	background-color:#04A4E2;
}

#content {
	display: block;
	margin-top: 20px;
	width: 100%;
	overflow: auto;
	height: 800px;
}

#columns {
	width: 100%;
	margin-bottom: 70px;
	padding: 0px 20px;
}

.column {
	display: block;
	float: left;
	min-height: 10px;
	border-style: dotted;
	border-width: 0px;
	overflow: auto;
	min-width: 300px;
	width: 33%;
}