.more-list-arrow {
	height: 26px;
	width: 10px;
	font-size: 0px;
	color: white;
	display: inline-block;
	background-image: url(../images/small_images.png);
	background-repeat: no-repeat;
	background-position: -3px -50px;
}

#header .menulist .more-list:hover  >ul {
	display: block;
}

#header ul ul {
	color: black;
	display: none;
	margin: 0px;
	padding-right: 10px;
	color: black;
	z-index: 999;
	position: absolute;
	background-color: white;
	width: 110px;
	border: 1px solid #BEBEBE;
	border-top: 0;
	text-align: left;
}

#header ul ul li {
	clear: both;
	width: 94%
}
#header ul ul li:hover{
	background: lightblue;
}

#header ul ul a:visited, #header ul ul a:link {
	text-decoration: none;
	color:black;
}

.logo {		
	float: left;
	position: relative;
	width: 120px;
	margin: 0px 8px;
	padding: 11px 0px;
	padding-left: 33px;
	font-family: cursive;
	font-size: 30px;
	line-height: 24px;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	color: #1C2583;
}


.clearfix:before,.clearfix:after{
	content:"";
	display:block;
	clear: both;
}