#more-list-arrow {
	height: 26px;
	width: 10px;
	font-size: 0px;
	color: white;
	display: inline-block;
	background-image: url(../images/drop_down.png);
	background-repeat: no-repeat;
	background-position: 2px 9px;
}

#more-list:hover > ul {
	margin: 0;
	padding: 0;
	color: black;
	z-index: 999;
	position: absolute;
	display: block;
	background-color: white;
	width: 100px;
	border: 1px solid #BEBEBE;
	border-top:0;
}

#header ul ul {
	color: black;
	display: none;
}

#header ul ul li {
	clear: both;
}

#header ul ul a:visited, #header ul ul a:link {
	text-decoration: none;
	color:black;
}

#home-options{
	color:#555;
	font-weight: bold;
	font-size: 11px;
	display: block;
	position: absolute;
	width: 120px;	
	height: 30px;
	margin-top: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background-color: #F3F3F3;
	margin-left: 220px;
}
#logo {
	float:left;
	padding-left:33px;
	position: relative	;
	width: 120px;
	height:72px;
	font-size: 20px;
	margin: 0px 8px;
}

#logo span {
	position: absolute;
	top: 0;
	width: 120px;
	height: 72px;
	background-image: url(../images/google_logo.png);
}

#igoogle {
	position: absolute;
	float: left;
	color: #DD4B6A;
	display: block;
	font-weight: normal;
	font-size: 20px;
	margin-left: 44px;
	line-height: 29px;
	padding-top: 10px;

}




#add-gadgets{
	position: relative;
	display: block;
	width: 72px;
	height: 30px;
	margin-top: 10px;
	border-radius: 2px 0px 0px 2px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: #F3F3F3;
	margin-right: 0px;
	float: right;
}




#gadget-image{
	float: left;
	background-image: url(../images/gadgets_logo.png);
	display: block;
	height: 14px;
	width: 15px;
	background-color: white;
	background-repeat: no-repeat;
	margin-left: 21px;
}

#change-theme{
	position: relative;
	display: block;
	width: 72px;
	height: 30px;
	margin-top: 10px;
	border-radius: 0px 2px 2px 0px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: #F3F3F3;
	margin-right: 10px;
	float: right;
}



#change-theme-image{
	float: left;
	background-image: url(../images/change_theme_logo.png);
	display: inline-block;
	height: 14px;
	width: 15px;
	background-color: white;
	background-repeat: no-repeat;
	margin-left: 21px;
}



#settings{	
	display: block;
	width: 72px;
	height: 30px;
	margin-top: 20px;
	border-radius: 2px;
	border: 1px solid #B3B3B3;
	background-color: #F3F3F3;
	margin-right: 45px;
	float: right;
}

#settings-image{
	float: left;
	background-image: url(../images/settings_logo.png);
	display: block;
	height: 17px;
	width: 17px;
	margin-left: 15px;
}

#settings-triangle {
	border-style: solid;	
	border-color: #9F9F9F transparent transparent transparent;
	border-width: 4px 4px 0px;
	display: inline-block;
	margin-right: -12px;
	line-height: 0;
	height:0px;
	width: 0px;
}
#user-option {
	min-width: 650px;
	display: block;
	height: 53px;
	background-color: white;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#gadgets-tooltip{
	position: absolute;
	color: white;
	background-color: black;
	float: right;
	display: none;
	z-index: 999;
	margin-top: 27px;
	min-width: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	right: 8px;
	padding-top: 10px;
}
#gadgets-tooltip-triangle{
	position: relative;
	display: none;
	border: solid;
	border-width: 0px 10px 7px 10px;
	border-color: transparent transparent black transparent;
	margin-top: -17px;
	margin-left: 35px;
	z-index: 200;
	width: 0;
	height: 0;
}

#add-gadgets:hover > #gadgets-tooltip,  #add-gadgets:hover #gadgets-tooltip-triangle{
	display:block;
}

#change-theme-tooltip{
	position: absolute;
	color: white;
	background-color: black;
	float: right;
	display: none;
	z-index: 999;
	margin-top: 27px;
	min-width: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	right: 8px;
	padding-top: 10px;
}

#change-theme-tooltip-triangle{
	position: relative;
	display: none;
	border: solid;
	border-width: 0px 10px 7px 10px;
	border-color: transparent transparent black transparent;
	margin-top: -17px;
	margin-left: 35px;
	z-index: 200;
	width: 0;
	height: 0;
}

#change-theme:hover > #change-theme-tooltip, #change-theme:hover  #change-theme-tooltip-triangle{
	display: block;
}

#chat {
	display: block;
	font-size: 13px;
	text-transform: capitalize;
	padding-left: 6px;
	font-weight: bold;
	height: 27px;
	width: 170px;
	line-height: 24px;
}

.clearfix:before,.clearfix:after{
	content:"";
	display:block;
	clear: both;
}