.window,.title-bar,.window-buttons,.body {
	display: block;
}

.window-buttons{
	float: right;
}
.window {
	border: 1px solid #DCDCDC;
	min-width: 250px;
	max-width: 100%;
	min-height: 200px;
	margin: 10px;
	background: white;
	border-radius: 5px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(80%,white), color-stop(100%,#C2FDFF));
	background: -moz-linear-gradient(top, #feffff 80%, #c2fdff 100%, #c2fdff 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #feffff 80%,#c2fdff 100%,#c2fdff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feffff 80%,#c2fdff 100%,#c2fdff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feffff 80%,#c2fdff 100%,#c2fdff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #feffff 80%,#c2fdff 100%,#c2fdff 100%); /* W3C */
}

.title-bar:hover .window-settings,.title-bar:hover .window-minimize,.title-bar:hover .window-close{
	display: block;
}

.title-bar {
	display: block;
	font-weight: bold;
	padding-left: 7px;
	line-height: 24px;
	border: 1px solid #DCDCDC;
	background: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#DCFCF9), to(#CBF5D0));
	background: -moz-linear-gradient(top, #DCFCF9, #CBF5D0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCFCF9', endColorstr='#CBF5D0');
}

.widget-icon {
	display: block;
	background: url(../images/date_time_logo.png);
	width: 28px;
	background-size: contain;
	height: 28px;
	background-repeat: no-repeat;
	float: left;
	margin: 5px 10px 5px 0;
}

.title{
	overflow: hidden;
	float: left;
	min-width: 100px;
	max-width: 120px;
	text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 35px;
	white-space: nowrap;
}


.window-minimize,.window-close {
	vertical-align: middle;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	font-weight: normal;
	margin: 4px 4px;
	display: none;
	float: left;
	width: 13px;
	height: 13px;
	border: 1px solid #DEDEDE;
}
.body {
	padding: 5px;
	margin:10px;
	height: 95%;
	border: 0px dotted black;
}

.window-settings{
	display: none;
	position: relative;
	float: left;
}
.window-settings a{
	border: 1px solid #DEDEDE;
	margin: 4px 4px 0;
	background: url(../images/window_settings_logo.png);
	background-repeat: no-repeat;
	background-position: 7px 1px;
	z-index: 2;
	width: 35px;
	height: 13px;
	display:block;
	position:relative;
	background-color:#F5F5F5;
}

.window-settings-menu{
	font-weight: normal;
	padding: 10px;
	border: 1px solid #DEDEDE;
	background-color: white;
	z-index: 1;
	width: 150px;
	display: none;
	position:absolute;
	right: 4px;
	margin-top: -1px;
}
.window-settings:hover {
	border-bottom: solid 1px transparent;
}

.window-settings:hover > a{
	border-bottom: solid 0px white;
}
.window-settings:hover > ul.window-settings-menu{
	display: block;
}